@font-face {
	font-family: 'Morpheus';
	src: url(../../assets/fonts/Morpheus.woff2) format('woff2'),
	url(../../assets/fonts/Morpheus.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}